{% extends "/layout/base.html" %}
{% block content %}
<section class="welcome-cover">
  <div class="welcome-cover__content container-fluid">
    <h1 class="welcome-cover__content-h1 text-center">
      Развиваем проекты в Интернет
    </h1>
    <p class="welcome-cover__content-lead lead text-center">
      Организуем и поддерживаем работу клиентов
    </p>
  </div>
</section>
<section class="welcome-products">
  <div class="welcome-products__content container">
    <p class="lead text-center">Наш продукт</p>
    <h2 class="welcome-products__content-h2 text-center">
      Три фундаментальные услуги в Интернет
    </h2>
    <div class="welcome-products__product-container">
      <div class="row justify-content-start">
        <div class="welcome-products__product welcome-products__product-site">
          <h4>Сайт</h4>
          <p>Организуем разработку сайтов и информационных систем</p>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="welcome-products__product welcome-products__product-trafic">
          <h4>Трафик</h4>
          <p>Управляем рекламными кампаниями, проводим email-рассылки</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="welcome-products__product welcome-products__product-support">
          <h4>Поддержка</h4>
          <p>Контролируем функционирование интернет-проектов, улучшаем
            пользовательский опыт, обеспечиваем стабильность</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="welcome-consulting">
  <div class="welcome-consulting__content container">
    <img class="welcome-consulting__content-icon" src="/static/images/welcome-consulting-batman.svg">
    <h2 class="welcome-consulting__content-h2 text-center">
      IT-Консультант
    </h2>
    <p class="welcome-consulting__content-byline lead text-center">
      Консультируем предпринимателей в качестве независимых инженеров
    </p>
    <blockquote class="welcome-consulting__content-quote">
      “Независимая консультация &mdash; одна из самых выгодных инвестиций в мире предпринимателей”
    </blockquote>
    <div class="welcome-consulting__content-requests">
      <h5>Популярные запросы</h5>
      <ul class="welcome-consulting__content-requests-list">
        <li>Сформулировать задание на проект</li>
        <li>Принять работу исполнителя</li>
        <li>Найти решения проблемы</li>
        <li>Взглянуть на процесс</li>
        <li>Оценить коммерческое предложение</li>
        <li>Оптимизировать затраты на инфраструктуру</li>
        <li>Аналитика бизнес-логики</li>
      </ul>
    </div>
  </div>
</section>
<section class="welcome-communication">
  <div class="welcome-communication__content container">
    <p class="welcome-communication__content-lead lead">Напишите нам</p>
    <h2 class="welcome-communication__content-h2">Диалог</h2>
    <p class="welcome-communication__content-text">
      Новый диалог вас не обяжет, более того, вы продвинитесь в
      решении задач
    </p>
    <div class="welcome-communication__content-links">
      <a href="mailto:hello@webiumdigital.com">hello@webiumdigital.com</a>
    </div>
  </div>
</section>
{% endblock %}
