{% extends "/layout/base.html" %}
{% block content %}
<section class="welcome-cover">
  <div class="welcome-cover__content container-fluid">
    <h1 class="welcome-cover__content-h1 text-center">
      Развиваем проекты в Интернет
    </h1>
    <p class="welcome-cover__content-lead lead text-center">
      Организуем и поддерживаем работу клиентов
    </p>
  </div>
</section>
<section class="welcome-products">
  <div class="welcome-products__content container">
    <p class="lead text-center">Наш продукт</p>
    <h2 class="welcome-products__content-h2 text-center">
      Три фундаментальные услуги в Интернет
    </h2>
    <div class="welcome-products__product-container">
      <div class="row justify-content-start">
        <div class="welcome-products__product welcome-products__product-site">
          <h4>Сайт</h4>
          <p>Организуем разработку сайтов и информационных систем</p>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="welcome-products__product welcome-products__product-trafic">
          <h4>Трафик</h4>
          <p>Управляем рекламными кампаниями, проводим email-рассылки</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="welcome-products__product welcome-products__product-support">
          <h4>Поддержка</h4>
          <p>Контролируем функционирование интернет-проектов, улучшаем
            пользовательский опыт, обеспечиваем стабильность</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
