{% extends "/layout/landing.html" %}
{% block content %}
<section class="landing-adcontext-cover">
  <h1 class="landing-adcontext-cover-h1 text-center">Настраиваю рекламу в Яндекс и Google</h1>
  <p class="lead text-center">
    От 6000 руб. и 5 дней
  </p>
  <div>
    <img src="">
    <div>Я то что надо!</div>
    <p>
      Мой возраст 32. Имею 12-летний опыт в ИТ, маркетинге и web-разработке. Работаю с интернет-рекламой более 7 лет. Знаю свое дело и могу выполнять его качественно.
    </p>
    <p>
      Я лично веду процесс, работаю с командой помощников. Рассчитываю на длительное партнерство.
    </p>
  </div>
</section>
<section class="landing-adcontext-prices">
</section>
<section class="landing-adcontext-consulting">
</section>
<section class="landing-sendrequest">
</section>
{% endblock %}
