
html, body
  font-family: 'Rubik', sans-serif
  font-weight: 200
  background-color: #f1f5f7
a
  color: #099AEC

#navbar
  position: absolute
  z-index: 1000
#navbar nav
  height: 80px

footer
  background: #fff
  padding: 20px 0px 20px 0px
  font-size: 12px
  color: #747474
  letter-spacing: 0.2px

.welcome-cover
  position: relative
  height: 620px
  background: url('images/welcome-cover-space.jpg') no-repeat bottom center
  background-size: cover
  padding-top: 80px
.welcome-cover__content
  margin-top: 120px
.welcome-cover__content-h1
  color: #fff
  font-size: 52px
  font-weight: 700
  letter-spacing: 1px
.welcome-cover__content-lead
  font-size: 24px
  color: #fff
  margin-top: 24px
  letter-spacing: 0.5px
.welcome-products
  position: relative
  padding-top: 80px
.welcome-products__content
.welcome-products__content-h2
  color: #000000
  font-size: 42px
  font-weight: 700
  letter-spacing: 1px
  line-height: 41px
.welcome-products__product
  display: block
  background: #FFFFFF
  box-shadow: 4px 20px 30px 0 rgba(25,25,25,0.05)
  padding: 18px 22px
  margin: 0px 0px 60px 0px
.welcome-products__product h4
  font-weight: 700
  font-size: 24px
  color: #000000
  line-height: 33px
  margin-bottom: 2px
.welcome-products__product p
  font-size: 20px
  margin-bottom: 0px
  color: #000000
  line-height: 28px
  font-weight: 200
.welcome-products__product-container
  width: 780px
  margin: 80px auto
.welcome-products__product.welcome-products__product-site
  width: 450px
.welcome-products__product.welcome-products__product-trafic
  width: 495px
.welcome-products__product.welcome-products__product-support
  width: 634px
.welcome-consulting__content
  padding-bottom: 60px
  background: url('images/welcome-consulting-anton-anuchin.png') no-repeat right bottom
.welcome-consulting__content-icon
  display: block
  margin: 0px auto 22px auto
  width: 62px
  height: 30px
.welcome-consulting__content-h2
  font-size: 58px
  font-weight: 700
.welcome-consulting__content-byline
  font-size: 26px
  color: #494949
  line-height: 33px
  width: 540px
  margin: 30px auto 60px auto
.welcome-consulting__content-quote
  font-weight: 700
  font-size: 24px
  color: #494949
  line-height: 34px
  width: 644px
.welcome-consulting__content-requests
  margin: 46px 0px 0px 0px
  color: #494949
  h5
    font-size: 26px
    line-height: 38px
.welcome-consulting__content-requests-list
  margin: 0px 0px 30px 0px
  list-style: none
  li
    font-weight: 200
    font-size: 20px
    line-height: 38px
  li:before
    content: '\2014'
    position: absolute
    margin-left: -20px
.welcome-communication
  background: #fff
  padding: 30px 0px
.welcome-communication__content
  padding: 78px 0px 70px 0px
.welcome-communication__content-lead
  font-weight: 200
  font-size: 18px
  color: #747474
  line-height: 41px
.welcome-communication__content-h2
  color: #494949
  font-size: 58px
  font-weight: 700
  letter-spacing: 1px
  line-height: 43px
.welcome-communication__content-text
  margin: 26px 0px 50px 0px
  font-weight: 200
  width: 60%
  font-size: 24px
  color: #494949
  line-height: 30px
.welcome-communication__content-links
  font-size: 26px
