
html, body
  font-family: 'Rubik', sans-serif

#navbar
  position: absolute
  z-index: 1000
#navbar nav
  height: 80px

.welcome-cover
  position: relative
  height: 700px
  background: url('images/welcome-cover-space.jpg') no-repeat center center
  background-size: cover
  padding-top: 80px
.welocme-cover__line
  position: absolute
  bottom: 0
.welcome-cover__content
  margin-top: 120px
.welcome-cover__content-h1
  color: #fff
  font-size: 52px
  font-weight: 700
  letter-spacing: 1px
.welcome-cover__content-lead
  font-size: 24px
  color: #fff
  margin-top: 30px
  letter-spacing: 0.5px
