.landing-adcontext-cover
  height: 910px
  background: #FFFCFD url('images/page-adcontext/man.jpg') no-repeat bottom right
  background-size: contain
  padding: 20px
.landing-adcontext-cover-h1
  font-weight: 700
  font-size: 52px
  color: rgba(0, 0, 0, 0.82)
  letter-spacing: 0
  line-height: 54px
  margin-top: 120px
.landing-adcontext-cover--message
  width: 620px
  margin: 50px auto 20px auto
.landing-adcontext-cover--message-avatar
  position: absolute
  margin-top: 18px
  width: 118px
  height: 118px
.landing-adcontext-cover--message-chat
  position: relative
  margin-left: 130px
  margin-bottom: 30px
  img
    width: 283px
    height: 64px
  span
    position: absolute
    top: 0px
    left: 0px
    margin: 6px 0px 0px 35px
    font-weight: 200
    font-size: 33px
    color: #FFFFFF
    letter-spacing: 0
.landing-adcontext-cover--message-text
  margin-left: 152px
  p
    font-size: 19px
    font-weight: 200
    color: #3A3A3A
    letter-spacing: 0
    line-height: 29px
.landing-adcontext-prices
  padding: 60px 0px
  background: #fff
.landing-adcontext-prices--h2
  font-weight: 700
  font-size: 42px
  color: #48484A
  letter-spacing: 0
  line-height: 51px
.landing-adcontext-prices--rate
  list-style: none
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  margin: 22px 0px 0px 0px
  padding: 0px
.landing-adcontext-prices--rate-item
  display: block
  border: 1px solid #C6C6C6
  border-radius: 10px
  margin: 10px
  padding: 20px
  width: 250px
  text-align: center
  h4
    font-size: 26px
    color: #CB2574
    font-weight: 300
    margin-top: 10px
    margin-bottom: 16px
  span
    font-size: 32px
    color: #474748
    font-weight: 700
  p
    text-transform: uppercase
    font-size: 11px
    letter-spacing: 0.3px
    color: #494949
  ul
    list-style: none
    margin: 0px
    padding: 0px
    text-align: left
    margin-bottom: 30px
  li
    font-size: 14px
    color: #252525
    line-height: 27px
  li.disabled
    color: rgba(0, 0, 0, 0.21)
  button
    display: inline-block
    background: #E6177E
    border-radius: 100px
    color: #fff
    border: 0px
    width: 136px
    height: 36px
    font-size: 18px
    font-weight: 300
    letter-spacing: 0.3px

.landing-adcontext-consulting
  padding: 70px 0px
  color: rgba(0,0,0,0.80)
  background-image: linear-gradient(-180deg, #FFF7F4 2%, #F1FEFF 100%)
  text-align: center
.landing-adcontext-consulting--h2
  font-weight: 700
  font-size: 42px
  letter-spacing: 0
  line-height: 51px
  margin-bottom: 0px
.landing-adcontext-consulting--lead
  font-size: 30px
  font-weight: 300
  letter-spacing: 0
.landing-adcontext-consulting--text
  font-size: 19px
  font-weight: 200
  line-height: 29px
  width: 626px
  margin: 32px auto
  text-align: left
  letter-spacing: 0.4px
.landing-adcontext-consulting--price
.landing-adcontext-consulting--price-value
  font-size: 32px
  display: block
.landing-adcontext-consulting--price-lead
  font-size: 22px
  display: block
  margin-top: -8px



.landing-sendrequest
  padding: 70px 0px
  background: #fff
.landing-sendrequest--h2
  font-weight: 700
  font-size: 42px
  color: #48484A
  letter-spacing: 0
  line-height: 51px
.landing-sendrequest--form
  width: 400px
  margin: 50px auto 20px auto
